{% extends 'base.html' %}

{% block title %}Contact- CAPEC{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <p>Email: {{ contact_info.email }}</p>
    <p>Téléphone: {{ contact_info.phone }}</p>
    <p>Adresse: {{ contact_info.address }}</p>
    <h2>Formulaire de Contact</h2>
    <form method="post">
        {% csrf_token %}
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Envoyer</button>
    </form>
 {% endblock %}