{% extends 'base.html' %}

{% block title %}Médias- CAPEC{% endblock %}
{% block content %}
    <h1>Médias</h1>
    <ul>
        {% for media in media_items %}
            <li>
                <strong>{{ media.title }}:</strong> {{ media.description }} ({{ media.date }})
                {% if media.image %}
                    <img src="{{ media.image.url }}" alt="{{ media.title }}" style="max-width: 200px;">
                {% endif %}
                {% if media.video %}
                    <video controls style="max-width: 200px;">
                        <source src="{{ media.video.url }}" type="video/mp4">
                        Votre navigateur ne supporte pas la lecture de vidéos.
                    </video>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %} 